html {
	margin: 0;
	padding: 0;
	}
body { 
	font: 130% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	width: 700px;
    height: 200px
    position: relative;
	background: #fff url(https://s14.postimg.org/3sv41x569/Logomakr_0_OEdl_U.png) no-repeat 500px 10px; 
	margin: 0px; 
	padding: 50px;
	}
